/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #0616f5;
}

a:hover {
  color: #3844ff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#arrow-icon{
 font-size: 30px;
 color: #0616f5;
 text-align: center;
}

#arrow-icon:hover {
  background: #d0d2f3;
}




#login .btn-get-started{
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  /* margin-top: 50px; */
  color: #fff;
  background: #0616f5;
  text-transform: uppercase;
}

#login .btn-get-started:hover {
  background: #3844ff;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  float: left;
  font-size: 28px;
  /* margin: 0;
  padding: 0;
  line-height: 1; */


}


#header .logo img {
  max-height: 60px;
} */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #0f394c;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #0616f5;
}


@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

}


/*--------------------------------------------------------------
# form Menu
--------------------------------------------------------------*/
body {
  background-color: #F0F5FF; /* une nuance de bleu pâle pour le fond */
  font-family: Arial, sans-serif;
}

/* Titre de la page */
h1 {
  color: #000000; /* un bleu foncé pour le titre */
  text-align: center;
}

/* Formulaire */
form {
  background-color: #FFF; /* fond blanc pour le formulaire */
  border: 1px solid #0616f5; /* bordure bleu foncé pour le formulaire */
  border-radius: 5px; /* coins arrondis pour le formulaire */
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

label {
  color: #000000; /* texte bleu foncé pour les étiquettes */
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #0616f5; /* bouton bleu foncé pour envoyer le formulaire */
  color: #FFF; /* texte blanc sur le bouton */
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #3844ff; /* fond bleu foncé plus foncé au survol */
}

/* .container {
  border-radius: 5px;
  background-color: #F0F5FF; /* une nuance de bleu pâle pour le fond de la boîte de résultats 
  padding: 20px;
  margin-top: 20px;
} */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0616f5;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3844ff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

